/* page size */
@page {
  size: a4;
}

/* store some string variables */
.shorttitle1 {
  string-set: h1-text content(text);
}

.shorttitle2 {
  string-set: h2-text content(text);
}

/* left page */
.running-h1-title {
  position: running(runningH1Title);
  width: var(--running-title-width);
  text-overflow: ellipsis;
  overflow: hidden;
}
.running-h1-title:before {
  content: string(h1-text);
}

@page chapter:left {
  @top-left {
    content: counter(page);
  }
  @top-right {
    content: element(runningH1Title);
    white-space: nowrap !important;
  }
}

/* right page */
.running-h2-title {
  position: running(runningH2Title);
  width: var(--running-title-width);
  text-overflow: ellipsis;
  overflow: hidden;
}
.running-h2-title:before {
  /* We would want to write: */
  /* content: string(h2-text, start); */
  /* However, this is yet unsupported by Paged.js, see https://gitlab.pagedmedia.org/tools/pagedjs/issues/38 */
  content: string(h2-text);
}
@page chapter:right {
  @top-right {
    content: counter(page);
  }
  @top-left {
    content: element(runningH2Title);
    white-space: nowrap !important;
  }
}

/* New chapter page */
@page chapter:first {
  @top-left {
    content: none;
  }
  @top-right {
    content: none;
  }
  @bottom-right {
    content: counter(page);
  }
}
@page :first {
  @top-left {
    content: none;
  }
  @top-right {
    content: none;
  }
  @bottom-right {
    content: none !important;
  }
  background-image: var(--front-cover);
  background-position: right 10px top 10px;
  background-size: 50px;
  background-repeat: no-repeat;
}

/* page breaks; aka CSS fragmentation */
.level1 {
  break-before: always;
  page: chapter;
}
.section > h1, .section > h2, .section > h3, .section > h4, .section > h5, .section > h6 {
  break-after: avoid;
}
.footnotes {
  break-before: always;
  break-after: always;
}
.figure {
  break-inside: avoid;
}

/* reset page numbering for main content */
.main .level1:first-child h1 {
  counter-reset: page 1;
}

/* do not break captions */
caption {
  break-inside: avoid;
  break-after: avoid;
}

.title {
  margin: 100px 0px;  /* Vertical  Horizontal */
}

.subtitle, .author, .date {
  font-weight: 400;
}

a {
  text-decoration: none;
}

a:link, a:visited {
  color: inherit;
}

a:hover {
  color: #5c5c5c; /* dark grey */
}
